rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // This rule applies to any file inside a folder named 'receipts'
    match /receipts/{fileName} {
      // Allow anyone to upload images to the 'receipts' folder.
      // For a production app, you would restrict this to logged-in users.
      allow write;

      // Allow anyone to read images. This is required to display them in your app.
      allow read;
    }
  }
}
